<% var jsFiles = []; %>
<%- include('../partial/base_header', { cssFiles: [] }); %>
<br><br>

<%- include('../partial/timePlacePicker'); %>
<% jsFiles.push('/javascripts/timePlacePicker.js') %>
<br>
<div class="container">
    <ul id="listVe" class="list-group">
        <% results.forEach((value) => { %>
        <% var props = value.toJSON(); %>
        <%- include('./ticketCell.ejs', {props: props}); %>
        <% }); %>
    </ul>
</div>
<br>
<%- include('../partial/base_footer.ejs', {jsFiles: jsFiles}); %>